<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harmonicapracticeassistant">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".activities.App"
        android:allowBackup="true"
        android:icon="@drawable/harmonica"
        android:label="@string/app_name"
        android:roundIcon="@drawable/harmonica"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".editor2.Editor2Activity">
<!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".pitchdetector.PitchDetectorActivity" />
        <activity android:name=".editor.SongBuilder2" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.SongActivity" />
        <activity android:name=".activities.SongListActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>